{% extends '@App/layout.html.twig' %}

{% set page = 'shopping_cart_summary' %}

{% block right_content %}
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.getName() }}</td>
              <td>{{ product.getPrice() }}</td>
              <td>
                <shopping-cart-button v-bind:product-id="{{ product.getId() }}" v-bind:button-action="'removeFromCart'"></shopping-cart-button>
              </td>
            </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <hr/>
      <h5>Summary cost: {{ shopping_cart_service.getCostOfProductsInCart() }} PLN</h5>
    </div>
  </div>
{% endblock %}